@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: none;
  font-family: 'Manrope', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background-color: #050b14;
}

img, a {
  -webkit-user-drag: none;
  user-select: none;
}
